
.main__message-list{data: {message: {id: message.id}}}
  %ul.message
    %li.message_user
      = message.user.name
    %li.message_date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message_chat
    - if message.body.present?
      %p.message_chat__body
        = message.body
    = image_tag message.image.url, class: 'message_chat__image' if message.image.present?
      
