.side
  .side_top
    .side_top__items
      .said_top__name
        yuri
      %ul.said_top__list
        %li.said_top__list--edit
        = link_to "#" do
          = icon('far', 'edit')
        %li.said_top__list--cog
        = link_to "#" do
          = icon('fas', 'cog')

  .side_groups
    .group
      %p.group__name
        テスト
      %p.group__message
        まだないよ
    .group
      %p.group__name
        テスト
      %p.group__message
        まだないよ
     