$white: #fff;
$saide_blue_fark: #253141;
$saide_blue_light: #2f3e51;
$light_blue: #39AEF0;
$light_gray: #999;
$blabk: #434a54;
$alert_orenge: #F35500;
$white-color: #ffffff;
$blu-color:  #38aef0;
$black-color: #333333;
$gray-color: #999999;

